name: Real time ci/cd pipeline for portfolio app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Build Docker Images
        run: |
          docker build -t ${{ secrets.USERNAME }}/portfolio:${{ github.run_number }} .
          docker build -t ${{ secrets.USERNAME }}/portfolio:latest .

      - name: Push Docker Images
        run: |
          echo ${{ secrets.PASSWORD }} | docker login -u ${{ secrets.USERNAME }} --password-stdin
          docker push ${{ secrets.USERNAME }}/portfolio:${{ github.run_number }}
          docker push ${{ secrets.USERNAME }}/portfolio:latest